body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
}
section {
  padding: 80px 0;
}
h1,
h2 {
  font-size: 64px;
  font-weight: 300;
}
@media (max-width: 991px) {
  h1,
  h2 {
    font-size: 25px;
  }
}
h4 {
  font-size: 24px;
}
@media (max-width: 991px) {
  h4 {
    font-size: 19px;
  }
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
.scroll-to-top {
  position: fixed;
  z-index: 3;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
}
.scroll-to-top:focus,
.scroll-to-top:hover {
  color: white;
}
.scroll-to-top:hover {
  background: #343a40;
}
.scroll-to-top i {
  font-weight: 800;
}
.sec-heading {
  padding-bottom: 20px;
}
.sec-heading h1,
.sec-heading h2 {
  padding-bottom: 24px;
}
.btn-default {
  border: 2px solid #00a0d2;
  border-radius: 7px;
  color: #00a0d2;
  font-size: 24px;
  padding: 10px 40px;
  transition: ease-in 0.1s;
}
.btn-default:hover {
  background-color: #00a0d2;
  color: #3d466e;
}
.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  background-position: 90% center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
@media (min-width: 992px) {
  .masthead {
    height: 85vh;
    background-position: center center;
  }
}
.masthead .img1 {
  max-width: 48%;
  height: auto;
  position: absolute;
  top: -25%;
  left: -6%;
  z-index: 2;
}
@media (max-width: 991px) {
  .masthead .img1 {
    left: -12%;
    top: -14%;
    max-width: 75%;
  }
}
.masthead .img2 {
  max-width: 35%;
  height: auto;
  position: absolute;
  top: 12%;
  left: 0%;
  z-index: 1;
}
@media (max-width: 991px) {
  .masthead .img2 {
    display: none;
  }
}
.masthead .img3 {
  max-width: 16%;
  height: auto;
  position: absolute;
  top: 30%;
  right: -4%;
  z-index: 1;
  transform: rotate(180deg);
}
@media (max-width: 991px) {
  .masthead .img3 {
    display: none;
  }
}
.masthead .logo {
  position: absolute;
  z-index: 3;
  top: 3%;
  left: 3%;
}
@media (min-width: 992px) {
  .masthead .logo {
    top: 7%;
    left: 2%;
  }
}
.masthead .logo img {
  max-width: 40%;
  height: auto;
}
@media (min-width: 992px) {
  .masthead .logo img {
    max-width: 83%;
  }
}
.main-header {
  background-image: url(../images/background.jpg);
}
.oferta-header {
  background-image: url(../images/mbr-top2.jpg);
}
.uslugi-header {
  background-image: url(../images/background.jpg);
}
.news-header {
  background-image: url(../images/background.jpg);
}
.article-header {
  background-image: url(../images/background.jpg);
}
#sidebar-wrapper {
  position: fixed;
  z-index: 4;
  right: 0;
  width: 250px;
  height: 100%;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  transform: translatex(250px);
  background: #00a0d2;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: #f7f7f7;
  padding: 15px;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  font-size: 1.2rem;
  background: rgba(52, 58, 64, 0.1);
  height: 80px;
  line-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.sidebar-nav > .sidebar-brand a {
  color: #fff;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.menu-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #f22686;
  line-height: 54px;
  z-index: 999;
}
.menu-toggle .fa {
  font-size: 27px;
}
.menu-toggle:focus,
.menu-toggle:hover {
  color: #f22686;
}
.menu-toggle:hover {
  background: #343a40;
}
.sec-main-about {
  position: relative;
  z-index: 3;
  background-color: #272c44;
}
.sec-main-about .sec-heading {
  color: #f22686;
}
.sec-main-about .sec-heading h4 {
  color: #f22686;
}
.sec-main-about .sec-desc p {
  color: #fafafa;
  font-size: 20px;
  font-weight: 300;
}
.sec-main-about .sec-desc p:nth-child(n+2) {
  color: #f7f7f7;
  font-weight: 400;
  sont-size: 16px;
}
@media (max-width: 991px) {
  .sec-main-about .sec-desc p {
    font-size: 16px;
  }
}
.sec-main-about .quote {
  color: #00a0d2;
  max-width: 302px;
}
.sec-main-about .quote q {
  font-size: 36px;
  line-height: 1.2;
}
@media (max-width: 991px) {
  .sec-main-about .quote q {
    font-size: 25px;
  }
}
.sec-main-about .quote cite {
  font-style: normal;
  font-size: 14px;
  display: inline-block;
  padding-top: 19px;
}
.sec-main-serv {
  background-color: #3d466e;
}
.sec-main-serv .sec-heading {
  color: #00a0d2;
}
.sec-main-serv .sec-desc h4 {
  color: #f7f7f7;
  padding-bottom: 30px;
}
.sec-main-serv .sec-desc p {
  color: #fafafa;
}
.sec-main-serv .sec-desc a {
  margin-top: 30px;
}
@media (max-width: 991px) {
  .sec-main-serv .sec-desc a {
    font-size: 15px;
  }
}
.sec-main-serv .serv-img {
  padding-top: 25px;
}
@media (max-width: 991px) {
  .sec-main-serv .serv-img img {
    max-width: 50%;
    height: auto;
  }
}
.sec-main-serv2 {
  background-color: #272c44;
}
.sec-main-serv2 .sec-heading {
  color: #00a0d2;
}
.sec-main-serv2 .sec-desc h4 {
  color: #f7f7f7;
  padding-bottom: 30px;
}
.sec-main-serv2 .sec-desc p {
  color: #fafafa;
}
.sec-main-serv2 .sec-desc a {
  margin-top: 30px;
}
@media (max-width: 991px) {
  .sec-main-serv2 .sec-desc a {
    font-size: 15px;
  }
}
.sec-main-serv2 .sec-desc .price {
  color: #f7f7f7;
  font-size: 24px;
  padding-left: 30px;
}
.sec-main-serv2 .sec-desc .price span {
  font-size: 36px;
  font-weight: 700;
  padding-left: 16px;
}
.sec-main-serv2 .serv-img {
  padding-top: 25px;
}
@media (max-width: 991px) {
  .sec-main-serv2 .serv-img img {
    max-width: 50%;
    height: auto;
  }
}
.sec-main-news {
  background-color: #3d466e;
}
.sec-main-news .section-title {
  color: #d2d2d2;
  font-size: 48px;
  padding-bottom: 58px;
  font-weight: 300;
}
@media (max-width: 991px) {
  .sec-main-news .section-title {
    font-size: 25px;
  }
}
.sec-main-news .single-news {
  color: #fafafa;
}
@media (max-width: 991px) {
  .sec-main-news .single-news {
    padding-bottom: 20px;
    border-bottom: 1px solid #f7f7f7;
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .sec-main-news .news-img {
    overflow: hidden;
    width: 100%;
    height: 90px;
  }
}
.sec-main-news .news-img img {
  max-width: 70%;
  height: auto;
}
@media (max-width: 991px) {
  .sec-main-news .news-img img {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .sec-main-news .news-title {
    padding: 25px 0;
  }
}
.sec-main-news .news-title a {
  margin: 0;
}
.sec-main-news .news-title a h6 {
  font-size: 24px;
  font-weight: 300;
  color: #fafafa;
}
@media (max-width: 991px) {
  .sec-main-news .news-title a h6 {
    font-size: 16px;
  }
}
.sec-serv-1 {
  background-color: #272c44;
  position: relative;
  z-index: 3;
}
.sec-serv-1 .sec-heading {
  color: #f22686;
}
.sec-serv-1 .sec-desc h4 {
  color: #f7f7f7;
  padding-bottom: 30px;
}
.sec-serv-1 .sec-desc p {
  color: #fafafa;
}
.sec-serv-1 .sec-desc a {
  margin-top: 30px;
}
@media (max-width: 991px) {
  .sec-serv-1 .sec-desc a {
    font-size: 15px;
  }
}
.sec-serv-1 .sec-desc .price {
  color: #f7f7f7;
  font-size: 24px;
  padding-left: 30px;
}
.sec-serv-1 .sec-desc .price span {
  font-size: 36px;
  font-weight: 700;
  padding-left: 16px;
}
.sec-serv-1 .serv-img {
  padding-top: 25px;
}
@media (max-width: 991px) {
  .sec-serv-1 .serv-img img {
    max-width: 50%;
    height: auto;
  }
}
.sec-serv-packets {
  background-color: #3d466e;
  text-align: center;
}
.sec-serv-packets .sec-heading {
  color: #f7f7f7;
}
.sec-serv-packets .single-packet .packet-head {
  color: #00a0d2;
  height: 180px;
  margin-bottom: 58px;
}
@media (max-width: 991px) {
  .sec-serv-packets .single-packet .packet-head {
    margin-bottom: 0px;
  }
}
.sec-serv-packets .single-packet .packet-head h3 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.sec-serv-packets .single-packet .packet-head p {
  font-style: italic;
}
.sec-serv-packets .single-packet .price {
  border: 3px solid #f7f7f7;
  border-radius: 15px;
  padding: 15px 26px 0px;
  color: #f7f7f7;
  margin: 0 20px;
}
.sec-serv-packets .single-packet .price .price-1 {
  font-size: 30px;
  font-weight: bold;
}
.sec-serv-packets .single-packet .price .price-2 span {
  font-style: italic;
  font-size: 14px;
}
.sec-serv-packets .single-packet .task-list {
  color: #f7f7f7;
  padding-top: 25px;
}
.sec-serv-packets .single-packet .task-list ul {
  padding: 0;
  line-height: 1.56;
  list-style-position: inside;
}
@media (max-width: 991px) {
  .sec-serv-packets .single-packet .task-list ul {
    margin-bottom: 50px;
  }
}
.sec-serv-packets .packet-2 .price {
  border-color: #00a0d2;
  background-color: #00a0d2;
  color: #3d466e;
}
@media (max-width: 991px) {
  .sec-serv-packets .packet-3 .packet-head {
    margin-bottom: 30px;
  }
}
@media (max-width: 991px) {
  .sec-serv-packets .packet-3 .task-list ul {
    margin-bottom: 0px;
  }
}
.sec-services {
  background-color: #272c44;
  position: relative;
  z-index: 3;
}
.sec-services .sec-heading {
  color: #f22686;
}
.sec-services .sec-desc h4 {
  color: #f7f7f7;
  padding-bottom: 30px;
}
.sec-services .sec-desc p {
  color: #fafafa;
}
.sec-services .sec-desc a {
  margin-top: 30px;
}
@media (max-width: 991px) {
  .sec-services .sec-desc a {
    font-size: 15px;
  }
}
.sec-services .serv-img {
  padding-top: 25px;
}
@media (max-width: 991px) {
  .sec-services .serv-img img {
    max-width: 50%;
    height: auto;
  }
}
.sec-services-list {
  background-color: #3d466e;
}
.sec-services-list .row:nth-child(n+2) {
  border-bottom: 1px solid #525f99;
  margin-bottom: 35px;
  padding-bottom: 25px;
}
@media (max-width: 991px) {
  .sec-services-list .row:nth-child(n+2) {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
.sec-services-list .row:last-child {
  border-bottom: 0;
}
.sec-services-list .sec-heading {
  color: #f22686;
  padding-bottom: 80px;
}
@media (max-width: 991px) {
  .sec-services-list .sec-heading {
    padding-bottom: 50px;
  }
}
.sec-services-list .sec-heading h2 {
  padding: 0;
  margin: 0;
}
@media (max-width: 991px) {
  .sec-services-list .single-service {
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #525f99;
  }
}
.sec-services-list .service-head h6 {
  color: #00a0d2;
  text-transform: uppercase;
  font-size: 23px;
}
.sec-services-list .service-list {
  color: #f7f7f7;
}
.sec-services-list .service-list span {
  font-size: 14px;
  font-weight: 700;
}
.sec-services-list .service-list ul {
  line-height: 2;
}
@media (max-width: 991px) {
  .sec-services-list .service-list ul {
    padding-left: 17px;
  }
}
.sec-news {
  background-color: #3d466e;
}
.sec-news .section-title {
  color: #d2d2d2;
  font-size: 48px;
  padding-bottom: 58px;
  font-weight: 300;
}
@media (max-width: 991px) {
  .sec-news .section-title {
    font-size: 25px;
  }
}
.sec-news .single-news {
  color: #fafafa;
}
@media (max-width: 991px) {
  .sec-news .single-news {
    padding-bottom: 20px;
    border-bottom: 1px solid #f7f7f7;
    margin-bottom: 20px;
  }
}
.sec-news .news-img {
  width: 100%;
  overflow: hidden;
  position: relative;
}
@media (min-width: 992px) {
  .sec-news .news-img {
    height: 205px;
  }
}
.sec-news .news-img img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 991px) {
  .sec-news .news-img img {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .sec-news .news-title {
    padding: 25px 0;
  }
}
.sec-news .news-title a {
  margin: 0;
}
.sec-news .news-title a h6 {
  font-size: 24px;
  font-weight: 300;
  color: #fafafa;
}
@media (max-width: 991px) {
  .sec-news .news-title a h6 {
    font-size: 16px;
  }
}
.sec-news .page-link {
  background-color: transparent;
  border-color: #00a0d2;
  color: #00a0d2;
}
.sec-news .page-link.active {
  background-color: #00a0d2;
  color: #f7f7f7;
}
.sec-article {
  background-color: #3d466e;
}
.sec-article time {
  color: #00a0d2;
  font-size: 14px;
}
.sec-article .section-title {
  color: #d2d2d2;
  font-size: 48px;
  padding-bottom: 58px;
  font-weight: 300;
}
@media (max-width: 991px) {
  .sec-article .section-title {
    font-size: 25px;
  }
}
.sec-article .single-news {
  color: #fafafa;
}
@media (max-width: 991px) {
  .sec-article .single-news {
    padding-bottom: 20px;
    border-bottom: 1px solid #f7f7f7;
    margin-bottom: 20px;
  }
}
.sec-article .news-title {
  padding: 20px 0 10px;
}
@media (min-width: 992px) {
  .sec-article .news-title {
    padding: 65px 0 25px 0;
  }
}
.sec-article .news-title h2 {
  font-size: 24px;
  font-weight: 300;
  color: #fafafa;
}
.sec-article .page-link {
  background-color: transparent;
  border-color: #00a0d2;
}
.sec-article .page-link.active {
  background-color: #00a0d2;
  color: #f7f7f7;
}
.sec-article .btn-primary {
  border: 1px solid #00a0d2;
  border-radius: 15px;
  background-color: transparent;
  color: #00a0d2;
  padding: 9px 21px;
}
.sec-article .btn-primary:hover {
  background-color: #00a0d2;
  color: #f7f7f7;
}
.sec-article .btn-primary.active {
  border: 1px solid #00a0d2;
  border-radius: 15px;
  background-color: #00a0d2;
  color: #f7f7f7;
  padding: 9px 21px;
}
.sec-contact {
  background-color: #3d466e;
}
.sec-contact .section-title {
  padding-bottom: 50px;
}
@media (max-width: 991px) {
  .sec-contact .section-title {
    padding-bottom: 25px;
  }
}
.sec-contact .section-title h2 {
  color: #f7f7f7;
}
.sec-contact .contact-address h1 {
  font-size: 30px;
  color: #f22686;
}
@media (max-width: 991px) {
  .sec-contact .contact-address h1 {
    font-size: 25px;
  }
}
.sec-contact .contact-address .address {
  color: #f7f7f7;
  font-size: 18px;
}
.sec-contact .map {
  max-width: 100%;
  height: auto;
}
.sec-contact .map iframe {
  width: 100%;
  min-height: 400px;
}
@media (max-width: 991px) {
  .sec-contact .map iframe {
    min-height: 300px;
  }
}
footer {
  padding: 75px 0;
  background-color: #272c44;
}
footer .footer-title h3 {
  color: #00a0d2;
  font-size: 24px;
  font-weight: 300;
}
@media (max-width: 991px) {
  footer .footer-title h3 {
    font-size: 20px;
  }
}
footer .footer-contact {
  color: #f7f7f7;
  font-size: 18px;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
